:root {

    --primary-color: #FE724C;
    --primary-hover-color: #98381f;
    --text-secondaty-color: #5B5B5B;
    --white-color: #FFFFFF;
    --text-color: #000000;
    --serparator-color: #D4D6E0;
}
