body {
    background: #252323;
    color: #fff;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh;
}

.App {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}