<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <script type="module">
            import RefreshRuntime from 'http://localhost:3000/@react-refresh'
            RefreshRuntime.injectIntoGlobalHook(window)
            window.$RefreshReg$ = () => {}
            window.$RefreshSig$ = () => (type) => type
            window.__vite_plugin_react_preamble_installed__ = true
        </script>

        {% if app.environment == 'dev' %}
            <script type="module" src="http://localhost:3000/src/main.tsx"></script>
        {% else %}
            <script type="module" src="{{ asset('build/main.js') }}"></script>
        {% endif %}

    </head>
    <body>
        <div id="root">
            {{ 'SORA'|trans }}
        </div>
    </body>
</html>