.button {
    padding: 8px 30px;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border: none;
    font-size: 16px;
    color: var(--white-color);
    border-radius: 29px;
    font-style: normal;
    font-weight: 400;
}

.color-red {
    color: greenyellow;
}

.small {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 25px;
}

.big {
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 60px;
}

.accent {
    background: var(--primary-color);
}

.accent:hover {
    background: var(--primary-hover-color);
}