APP_ENV=devAPP_SECRET=a5145e904f66600baf0484c43384d2a1DB_USER=rootDB_PASSWORD=rootDB_CONNECTION=mysqlDB_HOST=sora-mysqlDB_PORT=3306DB_NAME=soraDB_VERSION=5.7.37DATABASE_URL="${DB_CONNECTION}://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?serverVersion=${DB_VERSION}"