.input {
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
    color: var(--text-secondaty-color);
    box-shadow: 15px 20px 45px 0px rgba(233,233,233,.25);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}